<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="shareSession()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session" class="ion-padding">
    <h1>{{session.name}}</h1>
    <span *ngFor="let track of session?.tracks" [class]="'session-track-'+track.toLowerCase()">{{track}}</span>
    <p>{{session.description}}</p>
    <ion-text color="medium">
      {{session.timeStart}} &ndash; {{session.timeEnd}}
      <br /> {{session.location}}
    </ion-text>
  </div>

  <ion-list>

    <ion-item (click)="setOpen(true)" class="modal" button>
      <ion-label color="primary">Watch</ion-label>
    </ion-item>

    <ion-item (click)="sessionClick('mark as unwatched')" button>
      <ion-label color="primary">Mark as Unwatched</ion-label>
    </ion-item>
    <ion-item (click)="sessionClick('download video')" button>
      <ion-label color="primary">Download Video</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="cloud-download"></ion-icon>
    </ion-item>
    <ion-item (click)="sessionClick('leave feedback')" button>
      <ion-label color="primary">Leave Feedback</ion-label>
    </ion-item>
  </ion-list>



  <ion-modal [isOpen]="isModalOpen" class="modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{session.videoTitle}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <video width="100%" height="auto" controls autoplay="true">
          <source src="{{session.videoLink1}}" type="video/mp4">
          <source src="{{session.videoLink2}}" type="video/ogg">
        Your browser does not support the video tag.
        </video>
        <p>{{session.videoText}}</p>

      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>